In [12]:
import pandas as pd

In [13]:
df_html = pd.read_html('../data/filmes_wikipedia.html')

# o read_html procura pelas tags tables dentro do html e cria um elemento de uma lista para cada.
# No caso aqui temos 3 tabelas nesse html
len(df_html)

3

In [14]:
top_filmes = df_html[1]

top_filmes.head()

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5

In [15]:
top_filmes.to_html('../data/top_filmes.html')

top_filmes_2 = pd.read_html('../data/top_filmes.html')

top_filmes_2[0].head()

,Unnamed: 0,Film,Release year,Director,Production companies,Rank
0,0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5

In [16]:
# Agora vamos passar ese html para um csv
top_filmes.to_csv('../data/top_filmes.csv', index=False)

top_filmes_csv = pd.read_csv('../data/top_filmes.csv')

top_filmes_csv.head()

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5

In [17]:
df_imdb = pd.read_xml('../data/imdb_top_1000.xml')

df_imdb.head()

,index,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [18]:
df_imdb.to_xml('../data/imdb2.xml')

df_imdb2 = pd.read_xml('../data/imdb2.xml')

df_imdb2.head()

,level_0,index,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,3,3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,4,4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [19]:
df_numero_habitantes = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')

len(df_numero_habitantes)

3

In [20]:
df_numero_habitantes[1].to_csv('../data/numero_habitantes.csv', index=False)

df_numero_habitantes_csv = pd.read_csv('../data/numero_habitantes.csv')

df_numero_habitantes_csv.head()

  vdeListas de países                              vdeListas de países.1
0            Ambiente  Bem-estar sustentável Desempenho ambiental Emi...
1             Códigos  COI FIFA FIPS ISO Prefixo naval Telefônicos TL...
2          Demografia  Esperança de vida Fecundidade Imigrantes Morta...
3            Economia  Capacidade Nacional Capital Humano Competitivi...
4             Consumo  Bebidas Cerveja Idade legal Cannabis Adultos C...